.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  justify-content: center;
}

form input {
  margin: 10px;
}

form select {
  margin: 10px;
}

fieldset {
  display: flex;
  flex-direction: column;
}